* {
    box-sizing: border-box;
    list-style: none;
    /*border: 1px blue dotted;*/
}


@font-face {

    font-family: 'BLOKKNeue-Regular';
    src: url('../BLOKKNeue-Regular/webfonts/BLOKKNeue-Regular.woff') format('woff');
}

html {

    /*font-size: 20px;*/
}


/*:empty { background: green;} */




/***********BASE STYLES************/


h1, h2, li, p {
	text-align: center;	  

	/*border: 2px red dotted;*/

}


img {
    width: 100%;
    text-align: center;
}

nav li {
  
    font-size: 1rem;

    background: white;

    height: 50px;
    margin: 2px auto;
    align-content: center;
    /*border: 2px red dotted;*/
    padding: ;
}


nav a {
     padding-top: 1rem;
 
    text-decoration: none;
    display: block;
    height: 100%;

}

/* nav link */
nav a, nav a:visited {
     color: #000;
     font-weight: 700;
}
 
.contact-box-header,
.student-header {
    margin: 0 0 2.5rem;
    padding-top: 20px;
}



/*********CONTAINER STYLES**********/


#wrapper {
    line-height: 1.5em;
    color: #000;      
}

#header-box, #about-me-box, #contact-box {
    background: #FAFAFB;
}

/*select all children of wrapper*/
#header-box,
#wrapper > div {
        padding-left: 5%;    
        padding-right: 5%;
}

/*Fix collapsing margin*/
nav li:last-child {
    margin-bottom: 0; 
}


/*************ABOUT-ME*********/

#about-me-box {
    padding-bottom: 40px;
}

#about-me-box img {
    
    width: 200px;
    
   /*lets center our image*/
    display: block;   
    margin: 0 auto 40px;
    padding-top: 30px;   
} 


#about-me-box p { margin: 0; }


/************PORTFOLIO************/

#portfolio-gallery-box {
     background: #fff;
     padding-bottom: 16px;  
     padding-top: 50px;

}

#portfolio-gallery-box h2 {
    margin-top: 20px;
    margin-bottom: 0;
}

#portfolio-gallery-box .gallery-header-text {
    margin-top: 0;
    margin-bottom: 40px;  
}

#portfolio-gallery-box p {

    font-family: "BLOKKNeue-Regular", serif;   
}

#portfolio-gallery-box img {
    padding-top: 0px;  
}

.gallery-grid-item {
    margin: 20px 0 40px;
}


/************CONTACT***********/

#contact-box {
    padding-top: 30px;
    padding-bottom: 50px;
}

/*phone & email*/
#contact-box p > span {
    font-weight: 600;
}

/*margin collapsing*/
#contact-box p:last-child {
   margin-bottom: 0;
}

/*FOOTER*/

footer {
    height: 40px;
    margin: 20px auto 40px;
    width: 95%;  
}

footer a,
footer a:visited {
    text-decoration: none;
    color: black;
    font-weight: bold;     
}

.right-footer, 
.left-footer {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.right-footer
{
    text-align: right;
}
  

.right-footer li {
        display: inline-block;
        margin: 0 4px;

}

.right-footer-wide {display: none; }


/*CLEAR-FIX*/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
     clear: both;
}

/**********MEDIA QUERIES***********/

@media(min-width: 768px) 
{
    /*header*/

    nav { 
        text-align: center; 
        padding-top: 1.25rem;
        /*border: 2px red dotted;      */
    }

    nav li {
        display: inline-block;
        margin: 0 1rem;
        background: #FAFAFB;
    }   

    #about-me-box {
       padding-top: 30px; 
    }

    #about-me-box img { 
        float: right;
        width: 42%;              
    }

    .about-me-text {
        float: left;
        width: 56%;
        
        /*align text with image*/        
        padding-top: 30px;    
    }

    .about-me-text p {
        text-align: left;
        font-size: 18px;
        line-height: 1.8rem;

    }

  
    /*float items in the gallery*/

    /*targets an element based on its position within a parent, 
    but only if it’s a .gallery-grid-item */
    .gallery-grid-item:nth-of-type(odd)  {
         width: 49%;
        float: left;      
    }

      .gallery-grid-item:nth-of-type(even)  {
         width: 49%;
        float: right;      
    }

    .gallery-grid-item p {
        width: 85%;
        margin-right: auto;
        margin-left: auto;
    }

     .gallery-grid-item h2 {
        font-weight: 300;
    }


    /********FOOTER*********/

    .right-footer-narrow { 
         display: none;        
    }

    .right-footer-wide { 
        display: inline-block;   
    }   
     
 }


  /*    .gallery-grid-item:nth-child(even)  {
        
        background: red;
      
    }*/







