* {
    box-sizing: border-box;
    list-style: none;
    /*border: 1px blue dotted;*/
}


@font-face {

    font-family: 'BLOKKNeue-Regular';
    src: url('../BLOKKNeue-Regular/webfonts/BLOKKNeue-Regular.woff') format('woff');
}




/**********************************
    General
***********************************/

body {
    background: #FAFAFB;
  }

h1, h2, li, p {
    text-align: center;    
}


img {
    width: 100%;
    text-align: center;
}

nav li {  
    font-size: 1rem;
    background: white;
    height: 50px;
    margin: 2px auto;
    align-content: center;   
}


nav a {
    padding-top: 1rem;
    text-decoration: none;
    display: block;
    color: black; 
    height: 100%;
}

/* nav link */
nav a:hover, nav a:visited {
     color: slategrey;
     font-weight: 700;
}
 
.contact-box-header,
.student-header {
    margin: 25px 0 2.5rem;  
}


/********************
CONTAINER STYLES
*********************/


#wrapper {
    max-width: 1224px;
    margin: 0 auto;        
    line-height: 1.5em;
    color: slategrey;      
}

#header-box, #about-me-box, #contact-box {
    background: #FAFAFB;
}

#portfolio-box {
    /*background: white;*/
}

/*select all children of wrapper*/
#header-box,
#wrapper > div {
        padding-left: 5%;    
        padding-right: 5%;
}

/*Fix collapsing margin*/
nav li:last-child { margin-bottom: 0; }


/***********
ABOUT-ME
***********/

#about-me-box { padding-bottom: 40px; }

#about-me-box img {
    
    width: 200px;
    display: block;   
    margin: 0 auto 40px;
    padding-top: 30px;   
} 


#about-me-box p { 
    font-size: 16px;
    line-height: 1.5;        
    margin: 0; 
}


/************
PORTFOLIO
************/

#portfolio-box {
     background: #fff;
     padding-bottom: 16px;  
     padding-top: 50px;

}

#portfolio-box h2 {
    margin-top: 20px;
    margin-bottom: 0;
}

#portfolio-box .gallery-header-text {
    margin-top: 0;
    margin-bottom: 40px;  
}

#portfolio-box p {
    font-family: "BLOKKNeue-Regular", serif;   
}

#portfolio-box img {
    padding-top: 0px;  
}

.gallery-grid-item {
    margin: 20px 0 40px;
}


/**********
 CONTACT
***********/

#contact-box {
    padding-top: 30px;
    padding-bottom: 50px;
}

/*phone & email*/
#contact-box p > span {
    font-weight: 600;
}

/*margin collapsing*/
#contact-box p:last-child {
   margin-bottom: 0;
}

/*FOOTER*/

footer {
    height: 40px;
    margin: 20px auto 40px;
    width: 90%;  
}

footer a,
footer a:visited {
    text-decoration: none;
    color: black;
    font-weight: bold;     
}

.right-footer, 
.left-footer {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.right-footer {
    text-align: right;
}
  

.right-footer li {
        display: inline-block;
        margin: 0 4px;
}

.right-footer-wide { display: none; }


/*CLEAR-FIX*/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
     clear: both;
}


/******************
MEDIA QUERIES
*******************/

@media(min-width: 768px) 
{
    /*header*/

    .student-header { 
        margin-bottom: 0;
     }

    nav { 
        text-align: center; 
        padding-top: .75rem;
        /*border: 2px red dotted;      */
    }

    nav li {
        display: inline-block;
        margin: 0 1rem;
        background: #FAFAFB;
    }   

    #about-me-box {
       padding-top: 30px; 
    }

    #about-me-box img { 
        float: right;
        width: 42%;              
    }

    .about-me-text {
        float: left;
        width: 56%;
        
        /*align text with image*/        
        padding-top: 30px;    
    }

    #about-me-box p {
        text-align: left;       
        font-size: 18px;
        line-height: 2.3rem;
    }

  
    /*float items in the gallery*/

    /*targets an element based on its position within a parent, 
    but only if it’s a .gallery-grid-item */
    .gallery-grid-item:nth-of-type(odd)  {
         width: 49%;
        float: left;      
    }

      .gallery-grid-item:nth-of-type(even)  {
         width: 49%;
        float: right;      
    }

    .gallery-grid-item p {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

     .gallery-grid-item h2 {
        font-weight: 300;
    }


    /********FOOTER*********/

    .right-footer-narrow { 
         display: none;        
    }

    .right-footer-wide { 
        display: inline-block;   
    }   
   
 } /*END: @media(min-width: 768px) */
    

@media(min-width: 970px) 
{ 

    #header-box .student-header,
    #header-box nav {
        display: inline-block;
        width: 50%;  
    }

    #header-box .student-header { 
        text-align: left; 
        margin-right: -6px; /*Removing Gaps Between...*/
    }
    
    
    #header-box nav ul {
        margin-right: -16px; /*Align item hack*/
        text-align: right;    
    }

    #about-me-box p {
        width: 100%;
        vertical-align: text-top;
        font-size: 1.80rem;
        line-height: 1.5;    
    } 
    
    .no-line-height-p:not(::first-line) {
        color: red;
    }
   
    #wrapper #portfolio-box {
        width: 90%;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }

    /* ARRANGE OUR PORTFOLIO ITEMS*/

    .gallery-grid-item:nth-child(n) {       
       width: 30%;     
       float: left;
    }  

    /*30% * 3 = 90% + 2.5%(4) = 100%; where 4 = num of spaces bet items */
    .gallery-grid-item:nth-of-type(3n+2) { /*middle: 2..5..8 */      
        margin-left: 2.5%;
        margin-right: 2.5%;            
    } 
    
    .gallery-grid-item:nth-of-type(3n+1) { margin-left: 2.5%; } /*1..4..7*/
     
    .gallery-grid-item:nth-of-type(3n+3) { margin-right: 2.5%; } /*3..6..9*/  

    /*END: ARRANGE OUR PORTFOLIO ITEMS*/

     #wrapper #header-box, 
     #wrapper #about-me-box {
        padding-left: 2.5%;
        padding-right: 2.5%;
        width: 91%;
        margin: 0 auto;
    }
    
    #wrapper nav li:not(:last-child) {
        margin-right: -2px;
        padding-right: 15px;
        border-right: 1px black solid;               
    } 

} /*END: @media(min-width: 1024) */





